.BackGround{
        background-image: url(../../public/background.jpg);; //배경화면 이미지 고르는게 제일 힘들엉...
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100vh;
        overflow: "scroll";
}