.ToDoCase {

    width: 70%;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15rem;
    overflow: hidden;
    background-image: url(../../public/images.png);


    .title {
        background-color: #FAEBD7;
        text-align: center;
        color: pink;
        font-size: 25px;
    }
}